@import "src/styles/variables";


.inputContainer {
  position: relative;
}

.input {
  display: block;
  width: 100%;
  height: 36px;
  padding: 4px 8px;
  font-size: 12px;
  border: 1px solid transparent;
  border-radius: 3px;
  -webkit-appearance: none;
  box-shadow: none;
  color: $default;
  transition: 0.2s all cubic-bezier(0.4, 0, 0.6, 1);

  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  text-size-adjust: 100%;

  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  & *,
  & *::after,
  & *::before {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased;
    text-size-adjust: 100%;
    -webkit-touch-callout: none;
  }

  &::-ms-expand {
    display: none;
  }

  &:focus {
    border: 2px solid $brand2;
    outline: 0;
  }

  &.inputLg {
    height: 24px;
    font-size: $font-size-large;
  }

  &.inputSm {
    padding-top: 0;
    padding-bottom: 0;
    height: 24px;
    font-size: $font-size-small;
  }

}

.label {
  font-weight: 700;
  font-size: $font-size-small;
  color: #fff;
}
