@import "src/styles/variables";

.btn {
  background: #ffffff;
  text-decoration: none;
  transition: all 200ms ease-in;
  display: inline-block;
  color: $default;
  font-weight: bold;
  text-transform: uppercase;
  border: 2px solid $default;
  padding: 6px 18px;
  border-radius: 3px;

  &:hover {
    background: $default;
    color: #ffffff;
  }

  &.skew {
    transform: skew(-10deg);
  }

  &.primaryKind {
    color: $primary;
    border-color: $primary;
    &:hover {
      background: $primary;
      color: #ffffff;
    }
  }

  &.brandKind {
    color: $brand2;
    border-color: $brand2;
    &:hover {
      background: $brand2;
      color: #ffffff;
    }
  }

  &.fullWidth {
    width: 100%;
  }

  &.small {
    padding: 0 4.5px;
    font-size: $font-size-small;
  }
}
