@import "src/styles/variables";

.search {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  .container {
    max-width: 1200px;
    width: 100%;
    padding:10px 20px;
  }
  .form {
    padding: 20px 35px;
    position: relative;
    max-width: 500px;
    margin: 0 auto 20px;
    .col {
      margin-bottom: 10px;
    }
    .buttonCol {
      display: flex;
      justify-content: flex-end;
    }
    .decoration {
      position: absolute;
      top: 0;
      left: 0;
      background: linear-gradient(120deg, $primary 21%, #00cec2 192%);;
      transform: skew(-10deg);
      border-radius: 3px;
      width: 100%;
      height: 100%;
      z-index: -1;
    }
  }
  .pageInfo {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: $font-size-small;
    color: $default-70-opacity;
    font-weight: 400;
    margin-bottom: 10px;
  }
  .paginationContainer {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}


.items {
  padding: 20px;
  position: relative;
  min-height: 300px;
}

.itemsLoading {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, .6);
  display: flex;
  justify-content: center;
  align-items: center;
}
