@import "src/styles/variables";

.admin {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    .container {
        max-width: 1200px;
        width: 100%;
        padding:10px 20px;
    }
}

.tableHeader, .tableContent {
    padding: 0 8px;
    background: #FFFFFF;
    width: 100%;
    .row {
        box-sizing: border-box;
        display: flex;
        flex: 0 1 auto;
        flex-direction: row;
        flex-wrap: wrap;
        border-bottom: 1px solid #F2F2F2;
        width: 100%;
        padding: 0;
        margin: 0;
    }

    .col {
        box-sizing: border-box;
        padding: 16.5px var(--half-gutter-width, 8px);
        flex: 1;
        display: flex;
        justify-content: space-around;
        text-align: center;
        align-items: center;
    }

    .col2 {
        @extend .col;
        flex: 2;
    }

    .github {
        .icon {
            width: 20px;
            height: 20px;
        }
    }

}

.itemsLoading {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 15px;
}

.apiUrl {
    color: $default;
    font-size: $font-size-medium;
    font-weight: 400;
    background: $brand2;
    padding: 3px 9px;
    border-radius: 3px;
    margin: 0 0 16px 0;
    display: inline-flex;
}

.modalTitle {
    font-size: $font-size-large;
    font-weight: 700;
}
