// Typography
// -------------------------

$font-family-sans-serif: 'Open Sans', -apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,Oxygen,Ubuntu,'Fira Sans','Droid Sans','Helvetica Neue',sans-serif !default;
$font-family-serif: Georgia, "Times New Roman", Times, serif !default;
$font-family-monospace: 'Source Code Pro', 'SourceCodePro', monospace !default;
$font-family-base: $font-family-sans-serif !default;

$font-size-base: 14px !default;
$font-size-extra-extra-large: 20px;
$font-size-extra-large: 18px;
$font-size-large: 16px;
$font-size-medium: 14px;
$font-size-small: 12px;
$font-size-extra-small: 10px;

$font-weight-em-low: 200;
$font-weight-em-default: 400;
$font-weight-em-high: 600;
$font-weight-em-max: 700;

// COLOR
$default: #292A3A; // contrast ratio: 14.13
$primary: #00998d;
$success: #00c514;
$danger: #de1370;
$brand: #d2b887;
$brand2: #FFC145;
$light-grey: #f2f2f2;

$default-90-opacity: #3e3f4e;
$default-80-opacity: #545561;
$default-70-opacity: #696a75;
