@import "src/styles/variables";

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 36px;
  text-align: center;
  margin-bottom: 40px;
  .textContainer {
    display: inline-flex;
    color: $default;
    font-family: Rubik, SansSerif, serif;
    font-weight: 700;
    font-style: italic;
    position: relative;
    padding: 0 20px;
    .decoration {
      position: absolute;
      top: 35%;
      left: 2%;
      background: #FFC145;
      transform: skew(-10deg);
      width: 95%;
      height: 64%;
      z-index: -1;
    }
    .admin {
      background: $danger;
      color: #FFFFFF;
      font-size: 16px;
      position: absolute;
      top: 40px;
      right: 0;
      transform: rotate(-7deg);
      padding: 1px 6px;
      box-shadow: 0 3px 4px 0 rgba(222, 19, 112, 0.15);
    }
  }
}
