@import "src/styles/variables";

.label {
  background-color: #FFFFFF;
  border: 1px solid $primary;
  border-radius: 3px;
  color: $default;
  font-size: 12px;
  font-weight: 400;
  display: inline-flex;
  flex-direction: row;
  justify-content: center;
  position: relative;
  padding: 0 7px;
  margin: 2px;

  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  text-size-adjust: 100%;

  & *,
  & *::after,
  & *::before {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased;
    text-size-adjust: 100%;
    -webkit-touch-callout: none;
  }

  &.highlight {
    background-color: $brand2;
  }
}
