.card {
  margin-bottom: 12px;

  .thumbnail {
    height: 0;
    overflow: hidden;
    padding-top: 100%; // 1:1 ratio
    background: #000;
    position: relative;
    border-radius: 10px;

    .image {
      background: #000;
      position: absolute;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
      height: 100%;
    }

    .mask {
      background-image: linear-gradient(180deg, rgba(67, 104, 143, 0.3) 0%, rgba(35, 59, 90, 0.79) 92.08%, rgba(32, 55, 86, 0.83) 100%);
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }

    .infoWrapper {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: auto;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      padding: 0 12px 12px 12px;

      .title {
        color: #FFFFFF;
        font-size: 14px;
        font-weight: 700;
        line-height: 17px;
        text-align: left;
        margin-bottom: 4px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;

        & > span {
          cursor: text;
        }
      }

      .caption {
        color: #FFFFFF;
        font-size: 12px;
        font-weight: 400;
        line-height: 14px;
        opacity: 0.7570917038690477;
        text-align: left;
      }

      input {
        width: 100%;
        height: 17px;
        border: none;
        outline: none;
        white-space: normal;
        overflow: auto;
        text-overflow: unset;
        background: transparent;
        padding: 0;
        box-sizing: unset;
      }
    }
  }

  .content {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 4px;

    .meta {
      position: relative;
      display: inline-flex;
      align-items: center;

      .stars, .forks {
        display: inline-flex;
        color: #5A788F;
        font-size: 12px;
        font-weight: 700;
        line-height: 14px;
        text-align: left;
      }

      .github {
        display: inline-flex;
        opacity: 0.5477818080357143;
        text-align: left;
        .icon {
          width: 20px;
          height: 20px;
        }
      }
    }

    .action {
      display: inline-flex;
      width: 56px;
    }
  }
}
