@import "src/styles/variables";

.customOverlay {
  background: rgba(32, 55, 86, 0.54);
  @media screen and (max-width:768px) {
    padding: 0;
    margin: 0;
  }
}

.customModal {
  border-radius: 3px;
}
