@import "src/styles/variables";

.statistic {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 175px;
  -webkit-box-shadow: -11px 10px 16px 1px rgba(0, 0, 0, 0.16);
  -moz-box-shadow: -11px 10px 16px 1px rgba(0, 0, 0, 0.16);
  box-shadow: -11px 10px 16px 1px rgba(0, 0, 0, 0.16);
  transition: all 0.2s ease;
  color: #FFFFFF;
  border-radius: 10px;
  padding: 10px;
  background: linear-gradient(45deg,#F1467A,#FB949E);
  margin-bottom: 25px;
  justify-content: center;
  align-items: center;

  .value {
    color: #FFFFFF;
    font-size: 48px;
    font-weight: 700;
  }

  .name {
    font-weight: 700;
    margin-top: 4px;
    color: #FFFFFF;
    font-size: $font-size-medium;
  }

  & + & {
    margin-left: 15px;
  }
}
