@import "src/styles/variables";

.top5List {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 175px;
  -webkit-box-shadow: -11px 10px 16px 1px rgba(0, 0, 0, 0.16);
  -moz-box-shadow: -11px 10px 16px 1px rgba(0, 0, 0, 0.16);
  box-shadow: -11px 10px 16px 1px rgba(0, 0, 0, 0.16);
  transition: all 0.2s ease;
  background: linear-gradient(45deg,#47AEA3,#08B1C5);
  color: #FFFFFF;
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 25px;

  & *,
  & *::after,
  & *::before {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased;
    text-size-adjust: 100%;
    -webkit-touch-callout: none;
  }

  &.aType {
    background: linear-gradient(45deg,#247CC4,#336BAE);
  }

  .name {
    font-weight: 700;
    font-size: $font-size-medium;
    text-align: center;
  }
  .items {
    list-style: square outside;
    .item {
      font-weight: 500;
    }
  }

  .noData {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 40px;
    font-size: 12px;
    font-style: italic;
    .title {
      font-weight: 700;
    }
    .caption {

    }
  }
}
