@import "src/styles/variables";

.login {
  display: flex;
  justify-content: center;
  align-items: flex-start;

  .container {
    max-width: 1200px;
    width: 100%;
    padding:10px 20px;
  }

  .form {
    padding: 20px 35px;
    position: relative;
    max-width: 500px;
    margin: 40px auto 20px;
    .col {
      margin-bottom: 10px;
    }
    .buttonCol {
      display: flex;
      justify-content: flex-end;
    }
    .decoration {
      position: absolute;
      top: 0;
      left: 0;
      background: linear-gradient(120deg, $danger 21%, #e2137b 192%);;
      transform: skew(-10deg);
      border-radius: 3px;
      width: 100%;
      height: 100%;
      z-index: -1;
    }
  }
}
